body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: row;
  padding-left: 3%;
}

#contact-list-container {
  width: 60vw;
}

#add-contacts-container {
  width: 40vw;
  position: fixed;
  top: 30%;
  left: 60%;
  text-align: center;
}

header {
  margin-top: 10px;
  margin-bottom: 20px;
}

img {
  width: 50px;
  height: 40px;
  margin: 5px 20px 0 0;
}

img:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  width: 90%;
  margin: auto;
}

p {
  display: inline-block;
  color: whitesmoke;
  margin-right: 5px;
  font-size: 1.3rem;
  /* font-family: monospace; */
}

h1 {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  font-family: sans-serif;
  letter-spacing: 1px;
  display: inline;
  margin-bottom: 10px;
}

li {
  background-color: blue;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.window-close {
  margin-left: 30px;
  color: red;
  background-color: white;
}

li:hover {
  background-color: grey;
}

form {
  width: 90%;
  margin-left: 30px;
  text-align: center;
}

input {
  margin-left: 10px;
}

button {
  margin-top: 10px;
  display: inline-block;
  height: 40px;
  color: white;
  background-color: grey;
}

.list-btn {
  height: 25px;
  width: 25px;
}

.name-container,
.phone-container {
  width: 40%;
  text-align: center;
}

.btns-container {
  width: 20%;
}
